<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">

    <description>Spring总配置文件</description>

    <!--    &lt;!&ndash;    启用注解    &ndash;&gt;-->
    <!--    <context:annotation-config/>-->
    <!--    &lt;!&ndash;    设置扫描的包    &ndash;&gt;-->
    <!--    <context:component-scan base-package="com.bing.lan"/>-->

    <!--    <bean id="helloWorld" class="com.bing.lan.spring.HelloWorld" parent="parent-id"-->
    <!--          scope="prototype">-->
    <!--        &lt;!&ndash;        <constructor-arg name="hello" value="hello-value"/>&ndash;&gt;-->
    <!--        <property name="world" value="${helloWorld.world}"/>-->
    <!--        <meta key="lan" value="bing"/>-->
    <!--    </bean>-->

    <!--    <bean id="parent-id" abstract="true">-->
    <!--        <property name="world" value="world-xx"/>-->
    <!--        <property name="hello" value="hello-value"/>-->
    <!--    </bean>-->

    <!-- 静态工厂方法 -->
    <bean id="staticSomeBean" factory-method="staticCreate"
          class="com.bing.lan.spring.SomeBeanFactory" scope="simpleThreadScope"/>

    <!-- 实例工厂方法 -->
    <bean id="someBean" factory-method="create" factory-bean="someBeanFactory"/>

    <bean id="someBeanFactory" class="com.bing.lan.spring.SomeBeanFactory"/>

    <bean id="user" class="com.bing.lan.spring.UserFactoryBean">
        <property name="name" value="lan"/>
        <property name="passWd" value="a123456789"/>
        <property name="age" value="10"/>
    </bean>

    <bean id="configurer" class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="simpleThreadScope">
                    <bean class="org.springframework.context.support.SimpleThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <!--    <bean id="hello" class="com.bing.lan.spring.Hello">-->
    <!--        <property name="helloWorld" ref="helloWorld2"/>-->
    <!--    </bean>-->

    <!--    &lt;!&ndash; 此处第一个别名会在PropertyPlaceholderConfigurer替换之前变成id,-->
    <!--    所以会导致根据 ${helloWorld.id2} 值，获取不到bean &ndash;&gt;-->
    <!--    <bean id="helloWorld2" class="com.bing.lan.spring.HelloWorld">-->
    <!--        <property name="world" value="world-value-2"/>-->
    <!--        <meta key="lan-2" value="bing-2"/>-->
    <!--        <property name="helloBean" ref="hello"/>-->
    <!--    </bean>-->

    <!--<bean id="helloBeanPostProcessor" class="com.bing.lan.spring.HelloBeanPostProcessor"/>-->

    <!-- spring 3.1 -->
    <!-- class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"> -->
    <!--    <bean id="propertyConfigurer"-->
    <!--          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--        <property name="locations">-->
    <!--            <list>-->
    <!--                <value>classpath:*.properties</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--        <property name="properties">-->
    <!--            <props>-->
    <!--                <prop key="username">root</prop>-->
    <!--                <prop key="password">admin</prop>-->
    <!--                <prop key="helloWorld.world">123</prop>-->
    <!--            </props>-->
    <!--        </property>-->
    <!--    </bean>-->

<!--    <bean id="methodOverrideTest" class="com.bing.lan.spring.override.MethodOverrideTest">-->
<!--        <lookup-method name="getPeople" bean="chinese"/>-->
<!--    </bean>-->

<!--    <bean id="chinese" class="com.bing.lan.spring.override.Chinese"/>-->
</beans>
